@import "./normalize.css";
*{
    margin:0;
    padding:0;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style: none;
    
}
body{
    text-align:center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2ba4451510f6cca78672af6b7119b5e0daa39477
